body > header {
  width: 100%;
  margin-inline: auto;
  padding-top: var(--p-xl);
  padding-inline: var(--p-md);
  margin-bottom: 2rem;

  & .input-wrapper {
    margin-top: 1.6rem;
    width: 100%;
    background: var(--gray-300);
    border: 2px solid var(--gray-400);
    border-radius: 1.2rem;
    padding-inline: var(--p-xs);
    padding-block: var(--p-xs);

    & input {
      width: 100%;
      padding: var(--p-xs);
      border: none;
      outline: none;

      background: transparent;
      color: var(--gray-500);

      &::placeholder {
        color: var(--gray-500);
        font: var(--text-md);
      }
    }

    & button {
      color: var(--white);
      background-color: var(--gray-700);
      opacity: 0.6;

      outline: none;
      border: none;
      padding-inline: var(--p-sm);
      padding-block: var(--p-sm);
      border-radius: .8rem;

      transition: opacity 200ms;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (width >= 48rem) {
  body > header {
    width: 40rem;
  }
}