#history {
  & header {
    margin-bottom: 1.6rem;
    color: var(--gray-500);
  }

  & ul[role="list"] {
    list-style: none;

    padding-top: 1.2rem;
    border-top: 1px solid var(--gray-300);

    & li {
      & p {
        color: var(--gray-600);
      }

      & small {
        color: var(--gray-500);
      }
    }
  }

  & span {
    background-color: rgba(69, 180, 66, .12);
    border-radius: 50%;
    padding: var(--p-sm);
  }
}