#loyalty-card {
  padding: 2.4rem 2rem;

  & > header {
    margin-bottom: 2rem;

    & div:first-child {
      width: 50%;
      color: var(--gray-500);

      & p {
        margin-bottom: .4rem;
      }
    }

    & span {
      background-color: var(--gray-300);
      color: var(--gray-500);
      padding: 0.35rem .8rem;
      border-radius: 2rem;
    }
  }

  & > ul[role="list"] {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: .8rem;
    column-gap: .8rem;

    width: 100%;

    & li {
      width: 5.5rem;
      height: 5.5rem;
      padding: var(--p-sm);
      border-radius: 1.2rem;

      background-color: var(--gray-200);
    }
  }
}

@media (width >= 64em) {
  #loyalty-card {
    padding: 3.6rem 3.2rem;

    & > header {
      margin-bottom: 2rem;
  
      & div:first-child {
        width: 60%;
      }
    }

    & > ul[role="list"] {
      grid-template-columns: repeat(5, 8.8rem);
      grid-template-rows: repeat(2, 8.8rem);
      gap: 1.6rem;

      & li {
        width: 100%;
        height: 100%;

        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
