.main-header {
  padding: 3.2rem 1.2rem;

  & .input-wrapper {
    width: 100%;
    max-width: 40rem;
    padding: .8rem;

    border-radius: 1.2rem;
    border: 2px solid var(--gray-400);
    background-color: var(--gray-300);

    &:focus-within {
      border: 2px solid var(--pink);
    }

    & input {
      width: 100%;
      padding: .8rem;
      outline: none;
      border: none;
      background-color: transparent;
      color: var(--gray-500);
    }

    & button {
      border: none;
      outline: none;
      padding: 1rem;
      border-radius: .8rem;
      margin-right: .8rem;

      background-color: var(--gray-700);
      opacity: .6;
      color: var(--white);

      transition: opacity 250ms;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}