#progress {
  padding: 2rem;

  & div:first-child {
    width: 100%;

    & p {
      width: 100%;
      color: var(--gray-500);
      margin-bottom: .4rem;
    }

    & .progress-bar {
      width: 70%;
      height: .8rem;
      border-radius: 2rem;
      background: var(--gray-300);
      position: relative;

      & .current-progress {
        width: 0%;
        height: .8rem;
        border-radius: 2rem;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        background: linear-gradient(
          90deg,
          #2DAA6E 0%,
          #2DAAAA 33%,
          #856CCF 67%,
          #D658B3 100%
        );
      }
    }

    & span {
      margin-left: 1.2rem;
      color: var(--gray-500);
    }
  }

  & > span {
    background-color: var(--gray-200);

    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    padding: var(--p-md);
  }
}

@media (width >= 64em) {
  #progress {
    padding: 2.7rem 3.2rem;
  }
}
