.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center;
}

.gap-md {
  gap: 1.6rem;
}

.grid {
  display: grid;
}

.only-desktop {
  display: none;
}
