:root {
  /* COLOR VARIABLES */
  --pink: #D658B3;
  --green: #45B442;
  --gray-700: #332B31;
  --gray-600: #4A4448;
  --gray-500: #756C71;
  --gray-400: #D3CFD2;
  --gray-300: #DFDCDF;
  --gray-200: #E9E7E9;
  --gray-100: #F4F1F2;
  --white: #FFFFFF;

  /* BASE FONT VARIABLE */
  --ff-base: "Oxygen", sans-serif;

  /* RESET FONT SIZE */
  font-size: 62.5%;

  --p-xl: 3.2rem;
  --p-lg: 2.4rem;
  --p-md: 1.6rem;
  --p-sm: 1.2rem;
  --p-xs: .8rem;
}

/* RESET STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-200);
  width: 100%;
}

*, *::after, *::before {
  font-family: var(--ff-base);
}

main {
  padding-inline: var(--p-sm);
  padding-bottom: var(--p-xl);

  display: grid;
  gap: .8rem;

  max-width: 91.2rem;
  margin: 0 auto;
}

@media (width >= 48rem) {
  main {
    grid-template-areas:
      "hero loyalty-card"
      "history loyalty-card"
      "history progress"
    ;

    gap: 1.6rem 2.4rem;

    & #hero { grid-area: hero; }
    & #loyalty-card { grid-area: loyalty-card; }
    & #history { grid-area: history; }
  }

}