@import url("./utilities/text.css");
@import url("./utilities/display.css");

.card {
  padding: var(--p-lg) var(--p-md);

  border-radius: 1.6rem;
  background-color: var(--gray-100);
  border: 2px solid var(--gray-300);
}

